.Bg {
  text-align: center;
}
.background_cont {
  border: 1px solid black;
  height: 700px;
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #222a34;
  position: relative;
  
}
.header{
  display: flex;
  flex-direction: row-reverse;
}
.header_title {
  color: white;
    font-size: 39px;
  text-align: right;
  padding-top: 20px;
  padding-right: 22px;
  font-family: "Aduma";
}
.header_small_text{
     color: #ffffff99;
    margin-top: 59px;
    margin-right: 114px;
    font-size: 13px;
    direction: rtl;
}
.close_top {
  position: absolute;
  top: 20px;
  left: 22px;
}
.upload_btn {
  background-color: #475366;
  color: #ffffff99;
  width: 130px;
  border-radius: 28px;
  padding: 7px;
  text-align: right;
  position: absolute;
      top: 49px;
    left: 20px;
  background-image: url(../../Assets/Images/Upload.png);
  background-repeat: no-repeat;
  background-position: 13px 10px;
  cursor: pointer;
}
.content_container {
  width: 100%;
  height: 500px;
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main_content {
  height: 100%;
  width: 68%;
  background-color: #2f3a4b;
  border-radius: 10px;
}
.side_content {
  height: 100%;
  width: 30%;
  background-color: #2f3a4b;
  border-radius: 10px;
}
.side_in_content {
  width: 100%;
  height: 80%;
  margin-top: 20%;
  background-color: #222a34;
}
.main_in_content {
  width: 100%;
  height: 80%;
  background-color: #222a34;
}
.main_top {
  display: flex;
  flex-direction: row-reverse;
  height: 53px;
}
.tabs_txt {
  color: white;
  font-family: "Aduma";
  text-align: right;
  font-size: 20px;
  padding: 15px;
  width: 100px;
  cursor: pointer;
}
.tab_icon {
  width: 13px;
  margin-left: 5px;
}
.selected_tab {
  border-bottom: 3px solid rgb(196, 37, 196);
}
.footer_main_text {
  color: #ffffff63;
  text-align: right;
  font-size: 12px;
  margin-top: 16px;
  padding-right: 10px;
}
.terms_btn {
  background-color: #475366;
  color: #ffffff99;
  width: 130px;
  border-radius: 28px;
  padding: 7px;
  text-align: right;
  position: relative;
  right: 215px;
  bottom: 22px;
  border: 0;
  background-image: url(../../Assets/Images/eula.png);
  background-repeat: no-repeat;
  background-position: 13px 10px;
  cursor: pointer;
}
.overlay {
  background-color: #00000061;
  height: 1200px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.terms_popup {
  z-index: 2;
  background-color: white;
  position: absolute;
  height: 700px;
  width: 900px;
  top: 50px;
  right: 116px;
  border-radius: 21px;
  padding: 40px;
  overflow: scroll;
  direction: rtl;
  cursor: pointer;
}
.close_popup {
  position: relative;
  margin-left: 824px;
  margin-bottom: -33px;
  height: 18px;
}
.footer {
  display: flex;
  display: flex;
  flex-direction: row-reverse;
    margin-top: 17px;
  width: 100%;
  height: 52px;
  position: relative;
}
.footer_logo {
     height: 28px;
    margin-right: 26px;
    margin-top: 12px;
}
.banner_footer {
height: 53px;
    margin-left: -3px;
    margin-right: 5px;
}
.banner_footer_btn {
    background-color: #475366;
    color: #ffffff99;
    width: 116px;
    border-radius: 28px;
    padding: 7px;
    text-align: center;
    position: absolute;
    top: 11px;
    right: 16px;
    cursor: pointer;
}
